<form (submit) = "loginAdmin($event)">
  <div id="formWrapper">

    <div id="form">
      <div class="logo">
        <h1 class="text-center head">Admin Login</h1>
      </div>
      <div class="form-item">
        <p class="formLabel">Email</p>
        <input type="text" name="username" id="username" (ng-model) = "username" class="form-style" autocomplete="off" />
      </div>
      <div class="form-item">
        <p class="formLabel">Password</p>
        <input type="password" name="password" id="password" (ng-model) = "password" class="form-style" />
        <!-- <div class="pw-view"><i class="fa fa-eye"></i></div> -->
        
      </div>
      <div class="form-item">
        <input type="submit" class="login pull-right" value="Log In">
        <div class="clear-fix"></div>
      </div>
    </div>
  </div>
</form>
