<div class="container">
  <h2>Dark Striped Table</h2>
  <p>Combine .table-dark and .table-striped to create a dark, striped table:</p>            
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Pass</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Adress</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let admin of admins">
        <td>{{ admin.username }}</td>
        <td>{{ admin.username }}</td>
        <td>{{ admin.password }}</td>
        <td>{{ admin.fullname }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.address }}</td>
        <td>{{ admin.phone_number }}</td>
        <td>{{ admin.role }}</td>
        <td><div class="btn btn-outline-success" >Edit</div></td>
        
        <td><button class="btn btn-outline-danger" (click) = "deleteAdmin(admin)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>